{% for item in include.coffee %}
  <tr class="coffee-row">
    <td scope="row" class="th-lg">{{ include.name }}</td>
    <td class="column-2">{{ include.temp }}</td>
    <td class="th-lg column-3">{{ item.size }}</td>
    <td class="th-lg column-4">{{ include.allergens | join: ", " }}</td>
    <td class="column-5">{{ item.shots }}</td>
    <td><button onClick="onShowList('{{ coffee.url | relative_url }}')">View</button></td>
  </tr>
{% endfor %}

<script>
  const onShowList = (url) => {
    window.location.href = url;
  }
</script>
