---
---

@import "_colors";
@import "_fonts";

section.home .logo {
  margin: 50px;
  height: 150px;
}

.table-responsive-sm {
  width: 80%;
  min-width: 400px;
}

table.card {
  border: none;
  background-color: transparent;
}

thead, tbody {
  border-radius: 50px;
  border: 1px solid $brand-500;
  background: $base-white;
}

thead {
  margin-bottom: 30px;
  padding: 20px 40px;
  text-align: left;
}

tbody {
  gap: 15px;
  padding: 40px;
}

th, td {
  width: 10%;
}

.th-sm {
  width: 10%;
}

.td-md {
  width: 20%;
}

.th-lg {
  width: 30%;
}

@media screen and (max-width: 992px) {
  .table-responsive-sm {
    width: 90%;
  }

  .column-5 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  section.home .logo {
    margin: 30px;
    height: 100px;
  }

  .table-responsive-sm {
    width: 100%;
  }

  .column-4 {
    display: none;
  }
  
  thead {
    margin-bottom: 20px;
    padding: 10px 30px;
  }
  
  tbody {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0;
  }
}

@media screen and (max-width: 425px) {
  thead, tbody {
    border-radius: 0;
  }
}
