---
---

@import "_colors";
@import "_fonts";
@import "_screen";

:root {
  font-family: $font-primary;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: $gray-warm-50;
}

h1 {
  font-size: $fs-heading-lg;
}

h3 {
  font-size: $fs-heading-xs;
}

p, tr {
  font-size: $fs-text-md;
}

button {
  user-select: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem;
}

footer {
  padding: 3rem;
  background: $brand-800;

  .col {
    @media screen and (max-width: $low-max-width) {
      text-align: center;
    }

    img {
      width: 240px;
      height: 45px;

      @media screen and (max-width: $small-max-width) {
        content: url("../logo-white-icon.png");
        width: 100px;
        height: 100px;
      }
    }

    .copyright {
      color: $base-white;
    }
  }
}

.hidden {
  display: none !important;
}

.bounce-animation {
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1) translateY(-80px); }
  50%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0); }
}
