$font-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fs-text-md: 1rem;
$fs-text-lg: 1.125rem;
$fs-text-xl: 1.25rem;
$fs-heading-xs: 1.5rem;
$fs-heading-sm: 1.875rem;
$fs-heading-md: 2.25rem;
$fs-heading-lg: 3rem;
$fs-heading-xl: 3.75rem;
$fs-heading-2xl: 4.5rem;
