.arrow {
  flex-basis: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--brand-900);
  font-size: 1.5rem;
  font-weight: bold;
  user-select: none;
}

.arrow-down {
  display: none;
}

.convert-section {
  position: relative;
}

.convert-section:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--brand-900);
}

.convert-section h2 {
  margin-bottom: 1.5rem;
}

.convert-section select,
.convert-section input {
  margin-bottom: 1rem;
  border: 2px solid var(--brand-900);
  border-radius: 10px;
  padding: 0.5rem 0.7rem;
}

.convert-section select { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, var(--brand-900) 50%),
    linear-gradient(135deg, var(--brand-900) 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.convert-section select:focus {
  background-image:
    linear-gradient(45deg, var(--brand-600) 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, var(--brand-600) 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: var(--brand-600);
  outline: 0;
}

.convert-section textarea {
  border: 2px solid var(--brand-900);
  border-radius: 10px;
  padding: 0.8rem 1rem;
}

.convert-output {
  border: 2px solid var(--brand-900);
  border-radius: 10px;
  padding: 0.8rem 1rem;
  height: 100%;
  background-color: var(--base-white);
}

.convert-section button {
  margin-top: 1rem;
  border: 2px solid var(--brand-900);
  border-radius: 10px;
  padding: 0.3rem 0.7rem;
  background-color: var(--gray-warm-50);
}

.convert-section button:hover {
  background-color: var(--gray-warm-200);
}

.placeholder {
  color: var(--placeholder);
}

@media screen and (max-width: 768px) {
  .convert-section {
    padding: 3rem 0;
  }

  .row {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .arrow-right {
    display: none;
  }

  .arrow-down {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
